@import "tailwindcss";


@keyframes bounce-once {
  0% { transform: translateY(-10px); opacity: 0; }
  50% { transform: translateY(5px); opacity: 1; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-bounce-once {
  animation: bounce-once 0.3s ease-out;
}

/* Global/reset ringan kamu */
html, body, #root {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb; /* senada dengan halaman */
  color: #1f2937;
  line-height: 1.6;
}

*, *::before, *::after { box-sizing: border-box; }

ul { list-style: none; padding-left: 0; margin: 0; }
a  { text-decoration: none; color: inherit; }

/* Placeholder loading gambar (opsional) */
.img-skeleton {
  background: radial-gradient(1200px 400px at 50% 0, #e5e7eb, #d1d5db);
}
