@import "tailwindcss";

/* Global/reset ringan kamu */
html, body, #root {
  height: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb; /* senada dengan halaman */
  color: #1f2937;
  line-height: 1.6;
}

*, *::before, *::after { box-sizing: border-box; }

ul { list-style: none; padding-left: 0; margin: 0; }
a  { text-decoration: none; color: inherit; }

/* Placeholder loading gambar (opsional) */
.img-skeleton {
  background: radial-gradient(1200px 400px at 50% 0, #e5e7eb, #d1d5db);
}
